/* headerここから */

header{
    background-color: #05a59a;
    width: 100%;
    height: 120px;
    padding: 8px;
}
header .icon{
    width: 100%;
    height: 80px;
    padding: 8px;
    display: flex;
    justify-content: center;
}
header .icon img{
    height: 40px;
    object-fit: cover;
}
header .menu{
    width: 100%;
    height: 20px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .menu .menu-item{
    font-size: 12px;
    list-style: none;
    color: #ffffff;
    padding: 8px;
}

/* headerここまで */


/* footerここから */

.gReen{/*メインの文字の色*/
    color: #00A69A;
}

.footer-list-item{
    border-top: solid 4px #00A69A;
    border-right: solid 4px #00A69A;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
}
/* footerここまで */